
body{
   margin: auto;
}
h1{
    font-family: sans-serif;
}
h2{
    font-family: sans-serif;
}
nav li{
     display:inline-block; 

    padding: 20px;

    margin-top: 12px;
    position: relative;
    left: 50%;
    color: white;
    font-weight:500px ;
    font-size: 20px;
}
nav {
    background-color: #432C7A;
  
}
.container{
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
}
.section-Text{
    width: 50%;
    color: #432C7A;
}
.section-image{
    width: 50%;
    
}
.section-image img{
    width: 80%;

    
}
.card{
    border: solid 2px;
    width: 30%;
    border-color:  aliceblue;
    border-radius: 10px;
    height: 200px;
    background-color:#432C7A;

}
.card h2{
   color: white;
    font-weight:bolder;
    text-align: center;
    
}
.card p{
    color: white;
     font-weight:bolder;
     text-align: center;
     line-height: 20px;
     padding-top: 10px;
     
 }
.container-two{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.heading h1{
    text-align: center;
    color:#432C7A ;
    font-size: 3rem;
}
.heading-two h1{
 text-align: center;
 color:#432C7A ;
 font-size: 3rem;
}
.heading-two {
   margin-top: 120px;
   }
.Container-three{
    background-image: url("../Images/background-image.webp");
     background-repeat: no-repeat;
     background-position: cover;
     width: auto;
     width:100%;
     text-align: center;
     margin: 0 auto;
     
    margin-top: 100px;

}


 .contact-form{
   width: 30%;
     /* background-color: #432C7A; */
     margin-top: 30px;
     margin-left: 130px;
   
 
  }
  .contact-form form {
  
    padding: 30px;
    text-align: left;
    font-size: 20px;
height: 250px;



 }
.fcf-form-control{
    width: 50%;
    height: 30px;
    border: 3px solid white;
    border-radius: 5px;

  

}
.fcf-btn{

	background-color:white;
	border-radius:10px;
	border:1px solid white;
	color:black;
	font-weight:bold;
	padding:9px 52px;
	text-decoration:none;
	text-shadow:1px 0px 6px #5b8a3c;
}
.fcf-label{
    color: white;
    font-weight: 900px;
}
